<a href="https://colab.research.google.com/github/Gokul90613/gokul9061/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
def count_characters(s):
    count = {}
    for char in s:
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
    return count

# Get user input
input_string = input("Enter a string value: ")
char_count = count_characters(input_string)

# Print results
output = ', '.join(f"{char}={count}" for char, count in char_count.items())
print(output)

Enter a string value: 23
2=1, 3=1

In [3]:
#2
def maximum_of_three(a, b, c):
    return max(a, b, c)

# Example usage
num1 = 34
num2 = 12
num3 = 7
print(maximum_of_three(num1, num2, num3))

34

In [5]:
#3
def exponent(base, exp):
    return base ** exp

# Get user input
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print(result)

Enter the base: 6
Enter the exponent: 2
36

In [6]:
#4
def sum_of_cubes(n):
    return sum(i**3 for i in range(1, n))

# Example usage
number = 4
print(sum_of_cubes(number))

36

In [7]:
#5
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [8]:
#6
from collections import Counter

def most_frequent(numbers):
    count = Counter(numbers)
    return count.most_common(1)[0][0]

# Example usage
numbers = [2, 3, 4, 2, 5, 2]
print(most_frequent(numbers))

2

In [9]:
#7
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

# Example usage
numbers = [2, 1, 3, 1]
print(sum_of_squares(numbers))

15

In [10]:
#8
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [11]:
#9
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

# Get user input
fahrenheit = float(input("Temperature in Fahrenheit = "))
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"Temperature in Celsius = {round(celsius)}")

Temperature in Fahrenheit = 33
Temperature in Celsius = 1

In [12]:
#10
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
number = 3
print(factorial(number))

6